.my-name {   
    background-color: teal;
       color: white;
       text-align: center;
       margin: 0;
       padding-top: 30px;
       width: 12%;
       height: 37px;
       margin-left: 16.5%;
       margin-bottom: 0%;
       font-family: 'Georgia', Times, Times New Roman, serif;
       font-size: 20px;
   }
   #links {
       float: right;
       display: inline;
       background-color: white;
       margin-right:12%;
       margin-bottom: 
       width: 15%;
       font-family: 'Georgia', Times, Times New Roman, serif;
       }
   
   #links-portfolio {
       
   }
   
   body {
       background-color: white; 
       width: 100%;
       font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
       
   }
   section {
       background-image: url('assets/images/concreteSeamless.png');
       background-color: lightgrey;
       height: 500px;
        url('assets/images/concreteSeamless.png')
   }
   #container {
       background-color: lightgrey;
       width: 960px;
       height: 100%;
       margin-left: 15%;
       margin-right: 15%;
       margin-top: 0%;
       padding: 0%;
   }
   
   .profilePic {
       float: left;
   }
   #container-portfolio {
       border-top: solid;
       border-color: lightgrey;
       border-width: 30px;
       display: block;
       background-color: white;
       width: 960px;
       height: 80%;
       margin-left: 15%;
       margin-right: 15%;
       padding: 0%;
   }
   h1 {
       color: teal;
       margin-left: 5%;
        
   
   }
   img {
       width: 20%;
       height: 40%;
       margin-left: 5%;
       margin-right: 2%;
       margin-top: 2%;
   }
   p {
       background-color: white;
       color: #777777;
       margin-left: 0%;
       padding: 0%;
       text-align: left;
       height: 80%;
       border-top: solid;
   }
   
   
   #contact-background {
       background-color: lightblue;
       width: 70%;
   }
   #photos {
       width: 75%;
       height: 75%;
       float: left;
   }
   #contact-form {
       background-color: white;
   }
   footer {
       clear: both; 
       background-color: #666;
       color: white;
       height: 100px;
       margin-top: 0%;
       text-align: center;
       padding: 0%;
       border-top: solid;
       border-color: teal;
       border-width: 10px;
   }
